TextViewTrial/TextViewTrial.xcodeproj/*.mode1v3
TextViewTrial/TextViewTrial.xcodeproj/*.pbxuser
TextViewTrial/TextViewTrial.xcodeproj/project.xcworkspace
TextViewTrial/TextViewTrial.xcodeproj/xcuserdata
TextViewTrial/build/